*{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
    min-height: 100vh;
}

.wrapper {
    width: 440px;
    background-color: #fff;
    padding: 30px;
    border-radius: 9px;
}

.wrapper .box-upload {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    border: 2px dashed #afafaf;
    cursor: pointer;
}