@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #927DFC;
}

.wrapper {
    width: 450px;
    background: #fff;
    padding: 30px;
    border-radius: 9px;
}

.wrapper .upload-box {
    height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px dashed #afafaf;
}

.upload-box p {
    font-size: 1.06rem;
    margin-top: 20px;
}

.wrapper .content {
    margin-top: 28px;
}

.content .row {
    display: flex;
    justify-content: space-between;
}

.content .row .column {
    width: calc(100% / 2 - 15px);
}

.row .column label {
    font-size: 1.06rem;
}